<h3>Spill the beans</h3>

<ul>
    {{#each model as |bean|}}
        {{bean-tile bean=bean destroyBean="destroyBean" editBean="editBean" beanResponse="beanResponse"}}
    {{/each}}
</ul>

{{new-bean saveBean="saveBean"}}
