<h3>Spill the beans</h3>

<ul>
  {{#each model.beans as |bean|}}
    {{bean-tile bean=bean destroyBean="destroyBean" editBean="editBean"}}
  {{/each}}
</ul>

{{new-bean saveBean="saveBean"}}
<hr>
<h3>Comments</h3>
<ul>
  {{#each model.comments as |comment|}}
    <li>{{comment-tile comment=comment editComment="editComment"}}</li>
  {{/each}}
</ul>

{{new-comment  saveComment="saveComment"}}
